<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{post_title}}</a>
    <div class="post-text-div">{{post_text}}</div>
  </div>
  <div class="meta">
    <p> Created by {{user.username}} on {{format_date created_at}}</p>
    
  </div>
</article>