<section class="post">
  <div class="post-header">
     <a href="/post/{{id}}" target="_blank">{{post_title}}</a>
     <p> Created by {{user.username}} on {{format_date created_at}}</p>
  </div>
  <div>
   
    <div class="post-text-div">{{post_text}}</div>
  </div>
  <div class="meta">
    
    
  </div>
</section>